body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
}

.options-row {
  display: flex;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  gap: 25rem;
  flex-wrap: wrap;
}

.option-inline {
  flex: 1;
  text-align: center;
  padding: 5rem;
  min-width: 200px;
}

#quiz-screen button {
  display: block;
  margin: 20px auto;
}

.option-inline input {
  margin-right: 6px;
  transform: scale(1.1);
}
